/*  your css code here. If applicable */
.container{
	background-color:gray;
	border:2px solid black;
	display:flex;
	text-align:center;
	justify-content:center;
	border-radius:20px;
}
.circle{
	height:100px;
	width:100px;
	border-radius:50%;
}
.green{
	background-color:green;
}
.red{
	background-color:red;
}
.yellow{
	background-color:yellow;
}
